.AddServer{
    position: absolute;
    margin-left: 20%;
    width: 75%;
    margin-top: 3%;
}
.hr{
    margin-top: 2%;
    margin-left: -1%;

    border: 1px solid black;
}

@media screen and (max-width: 768px){
    .AddServer{
        margin-left: 50%;
        margin-top: 10%;
    }
    .hr{
        margin-top: 5%;
        margin-left: -3%;
        width: 60%;
        border: 1px solid black;
    }
}