.AddServer{
    position: relative;
    margin-left: 20%;
    margin-top: 3%;
}

.hrAdd{
    margin-top: 1%;
    margin-left: 19% !important;
    width: 78%;
    border: 1px solid black;
}

.serverForm{
    margin-top: 3% !important;
    margin-left: 38%;
    width:60%
}

.submitButton{
    background: white !important;
    color: #731A83 !important;
    border-color: rgba(115, 26, 131, 4) !important;
    transition: 0.2s !important;
    font-size: 16px !important;
    float: none !important;
    width: 80% !important;
    margin-left: 10% !important;
}
  
@media screen and (max-width: 768px){
    .AddServer{
        margin-left: 50%;
        margin-top: 6%;
    }

    .hrAdd{
        margin-left: 36% !important;
        margin-top: 5%;
        width: 60%;
        border: 1px solid black;
    }

    .serverForm{
        margin-left: 39%;
        width: 95%
    }    
}


@media screen and (max-width: 525px){
    .AddServer{
        margin-left: 46%;
    }
    .serverForm{
        margin-left: 37%;
        width: 58.5%
    }   
}
