.ShowServer{
    position: relative;
    margin-left: 20%;
    margin-top: 3%;
}

.hr{
    margin-top: 2%;
    margin-left: 19% !important;
    width: 78%;
    border: 1px solid black;
}

.searchBar{
    width:20% !important;
    border: 1px solid #731A83 !important; 
    border-color: #731A83 !important;
    margin-left: 23%;
}

.searchIcon{
    color: #731A83 !important;
    margin-top: 0.3%; 
    margin-left: -2%;
}


.searchButton{
    position: relative;
    background-color: #731A83 !important;
    color:white;
    margin-left: 2%;
}

.resetButton{
    position: relative;
    background-color: #731A83 !important;
    color:white;
    margin-left: 2%;
}

/* 
.noServer{
    margin-top: 5%;
} */

@media screen and (max-width: 1200px){
    .searchIcon{
        margin-top: 0.5%;
        margin-left: -3.2%;
    }
}

@media screen and (max-width: 768px){
    .ShowServer{
        margin-left: 50%;
        margin-top: 6%;
    }
    
    .hr{
        margin-left: 36% !important;
    }

    .searchBar{
        width:55% !important;
        margin-left: 38%; 
    }

    .searchIcon{
        margin-left: -4%;
    }

    .searchButton{
        margin-top: 5%;
        margin-left: 50%;
    }

    .resetButton{
        margin-top: 5%;
        margin-left: 2%;
    }
    
    /* .noServer{
        margin-top: 15%;
    } */
    
}

@media screen and (max-width: 525px){
    .ShowServer{
        margin-left: 47%;
    }
    ::placeholder{
        font-size: 0.85rem;
    }
    .searchIcon{
        margin-top:1.5%;
        margin-left: -8%;
    }
    .searchButton{
        margin-left: 47%;
    }
}
